.wrapper {
  width: 420px;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  text-align: center;
}

.button {
  display: block;
  padding: 9px 21px 6px 11px;
  font-size: 19px;
  line-height: 1.211;
  font-weight: 300;
  font-style: oblique;
  text-align: center;
  text-shadow: 1px 0 0, 0.5px 0 0, -1px 0 0;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  color: #fff;
  background-color: #4481c3;
  border: none;
  border-radius: 3px;
  margin: 40px auto;
  cursor: pointer;
  transform: skew(-15deg);
  transition: background .3s,color .3s,text-shadow .3s;
  outline: 0;
}

.button:hover {
  opacity: 0.8;
}
